.posts_container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.posts{
    box-sizing: border-box;
    position: relative;
    width: 30%;
    height: 300px;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(70, 70, 70);
    margin: 5px;
    transition: all .3s;
}
.posts:hover{
    width: 35%;
    height: 320px;
}
.posts:hover .posts>video{
    display: block;
}
.posts>img{
    width: 100%;
    height: auto;
}

.posts_names{
    box-sizing: content-box;
    color: white;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
     background: #bdc3c7;
     /* fallback for old browsers */
     background: -webkit-linear-gradient(to bottom, #bdc3c700, #2c3e50);
     /* Chrome 10-25, Safari 5.1-6 */
     background: linear-gradient(to bottom, #bdc3c700, #2c3e50);
    padding-top: 8%;
    padding-right: 10%;
    padding-left: 10px;
}
.posts_names>p{
    width: 100px;
    font-size: larger;
    font-weight: bold;
    text-overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}